 <!--<style>
table,th,td
{
border: 1px solid;
}
</style>
<h1> Dogs</h1>
<table>
    <thead>
        <tr>
        <th >Name</th>
        <th >Breed</th>
        <th >Age</th>
        <th>show</th>
        </tr>
    </thead>
    <tbody> -->

        <% @dogs.each do |dog| %>
        
        <%= dog.name%>
         <%= dog.breed%>
        <%= dog.age%>
        <%= link_to "show" ,"dogs/#{dog.id}"%>
        
        <%end%>
    

 
 
 



 

</table>